{% block nav_panel %}
{% load static %}
<div class="logo">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/logo3.png' %}" alt="Магазин Спорт" />
    </a>
</div>
  <nav class="menu">
    <ul>
        <li>
        <a href="{% url 'home' %}">Главная</a>
      </li>
      <li>
        <a href="#">Мужчинам</a>
        <div class="submenu">
          <a href="{% url 'm_boots' %}">Обувь</a>
          <a href="{% url 'm_clothes' %}">Одежда</a>
          <a href="{% url 'm_accessories' %}">Аксессуары</a>
          <a href="{% url 'm_inventory' %}">Спортивный инвентарь</a>
        </div>
      </li>
      <li>
        <a href="#">Женщинам</a>
        <div class="submenu">
          <a href="{% url 'zh_boots' %}">Обувь</a>
          <a href="{% url 'zh_clothes' %}">Одежда</a>
          <a href="{% url 'zh_accessories' %}">Аксессуары</a>
          <a href="{% url 'zh_inventory' %}">Спортивный инвентарь</a>
        </div>
      </li>
      <li>
        <a href="#">Для детей</a>
        <div class="submenu">
          <a href="{% url 'd_boots' %}">Обувь</a>
          <a href="{% url 'd_clothes' %}">Одежда</a>
          <a href="{% url 'd_accessories' %}">Аксессуары</a>
          <a href="{% url 'd_inventory' %}">Спортивный инвентарь</a>
        </div>
      </li>
      <li>
    <!-- Иконка сердечка (Избранные) -->
     <a href="{% url 'favorites' %}" title="Избранные">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                     4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 
                     19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                  stroke="black" stroke-width="2" fill="none"/>
        </svg>
    </a>
</li>
<li>
    <!-- Иконка корзины -->
     <a href="{% url 'cart' %}" title="Корзина">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9" cy="21" r="1" stroke="black" stroke-width="2"/>
        <circle cx="20" cy="21" r="1" stroke="black" stroke-width="2"/>
        <path d="M1 1h4l2.68 13.39a1 1 0 0 0 1 .61h9.72a1 1 0 0 0 1-.76l1.38-8.84A1 1 0 0 0 19 4H6" 
              stroke="black" stroke-width="2" fill="none"/>
      </svg>
    </a>
  </li>
</ul>
      </li>
    </ul>
  </nav>
{% endblock %}